*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(./Images/bg.jpeg); */
    background-size: cover;
    /* background-repeat: no-repeat; */
<<<<<<< HEAD
    height: 100vh;
    overflow: hidden;
    
}

.taskbar{
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}
=======
}
>>>>>>> 102092d8a3334c9372dd61e264d1a876969f89cc
